<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toyproject.mapper.CartMapper">

    <select id="findCartItemsCountByUserId" parameterType="CartQueryParam" resultType="int">
        SELECT count(*)
        FROM CART c
                 INNER JOIN PRODUCT p ON c.PRODUCT_ID = p.PRODUCT_ID
        WHERE c.USER_ID = #{userId}
    </select>

    <select id="findCartItemsByUserId" parameterType="CartQueryParam" resultType="CartResult">
        SELECT c.PRODUCT_ID       AS productId,
               p.IMG              AS productImg,
               p.PRODUCT_NAME     AS productName,
               c.SIZE             AS size,
               c.PRODUCT_QUANTITY AS productQuantity,
               p.PRICE            AS productPrice
        FROM CART c
                 INNER JOIN PRODUCT p ON c.PRODUCT_ID = p.PRODUCT_ID
        WHERE c.USER_ID = #{userId}
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="findAvailableSizesByProductId" parameterType="int" resultType="int">
        SELECT SIZE AS size
        FROM INVENTORY
        WHERE PRODUCT_ID = #{productId}
          and CURRENT_QUANTITY > 0
    </select>


</mapper>