<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toyproject.mapper.CartMapper">

    <select id="searchUserCart" parameterType="String" resultType="CartResponseDto">
        SELECT c.PRODUCT_ID       AS productId,
               p.IMG              AS productImg,
               p.PRODUCT_NAME     AS productName,
               c.SIZE             AS size,
               c.PRODUCT_QUANTITY AS productQuantity,
               p.PRICE            AS productPrice
        FROM CART c
                 INNER JOIN PRODUCT p ON c.PRODUCT_ID = p.PRODUCT_ID
        WHERE c.USER_ID = #{userId}
    </select>

</mapper>