html, body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
    font-size: 12px;
    text-align: center;
}

.footer-column h3 {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
}